<?xml version="1.0"?>

<robot name="hector_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>
    <xacro:property name="damping" value="0.1"/>
    <xacro:property name="friction" value="0.0"/>

    <!-- simplified collision value -->
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    <!-- trunk value -->
    <!-- collision -->
    <xacro:property name="trunk_length" value="0.125"/>
    <xacro:property name="trunk_width" value="0.19"/> 
    <xacro:property name="trunk_height" value="0.248"/>
    <!-- inertial -->
    <xacro:property name="trunk_com_x" value="0.0"/>
    <xacro:property name="trunk_com_y" value="0.0"/>
    <xacro:property name="trunk_com_z" value="0.0"/>
    <xacro:property name="trunk_mass" value="5.7"/>
    <xacro:property name="trunk_ixx" value="0.0463619"/>
    <xacro:property name="trunk_ixy" value="0.0"/>
    <xacro:property name="trunk_ixz" value="0.0"/>
    <xacro:property name="trunk_iyy" value="0.036636"/>
    <xacro:property name="trunk_iyz" value="0.0"/>
    <xacro:property name="trunk_izz" value="0.024569"/>

    <!-- hip_yaw value -->
    <!-- joint -->
    <xacro:property name="hip_yaw_offset_x" value="0.0"/> 
    <xacro:property name="hip_yaw_offset_y" value="0.047"/>
    <xacro:property name="hip_yaw_offset_z" value="0.1265"/>
    <xacro:property name="hip_yaw_max" value="30"/>
    <xacro:property name="hip_yaw_min" value="-30"/>
    <xacro:property name="hip_yaw_velocity_max" value="21"/>
    <xacro:property name="hip_yaw_torque_max" value="33.5"/>
    <!-- collision -->
    <xacro:property name="hip_yaw_x" value="0.015"/> 
    <xacro:property name="hip_yaw_y" value="0.0"/> 
    <xacro:property name="hip_yaw_z" value="-0.002"/>
    <xacro:property name="hip_yaw_length" value="0.0001"/>
    <xacro:property name="hip_yaw_width" value="0.0001"/> 
    <xacro:property name="hip_yaw_height" value="0.0001"/>
    <!-- inertial -->
    <xacro:property name="hip_yaw_com_x" value="0.025109"/>
    <xacro:property name="hip_yaw_com_y" value="-0.002292"/>
    <xacro:property name="hip_yaw_com_z" value="-0.024732"/>
    <xacro:property name="hip_yaw_mass" value="0.224"/>
    <xacro:property name="hip_yaw_ixx" value="0.000002104"/>
    <xacro:property name="hip_yaw_ixy" value="0.0"/>
    <xacro:property name="hip_yaw_ixz" value="0.0"/>
    <xacro:property name="hip_yaw_iyy" value="0.000005354"/>
    <xacro:property name="hip_yaw_iyz" value="0.0"/>
    <xacro:property name="hip_yaw_izz" value="0.000007416"/>

    <!-- hip_yaw_trans value -->
    <!-- joint -->
    <xacro:property name="hip_yaw_trans_offset_x" value="0.079"/> 
    <xacro:property name="hip_yaw_trans_offset_y" value="0.015"/>
    <xacro:property name="hip_yaw_trans_offset_z" value="-0.0705"/>

    <!-- collision -->
    <xacro:property name="hip_yaw_trans_length" value="0.04"/>
    <xacro:property name="hip_yaw_trans_radius" value="0.045"/> 

    <!-- inertial -->
    <xacro:property name="hip_yaw_trans_mass" value="0.65"/>
    <xacro:property name="hip_yaw_trans_ixx" value="0.00043875"/>
    <xacro:property name="hip_yaw_trans_ixy" value="0.0"/>
    <xacro:property name="hip_yaw_trans_ixz" value="0.0"/>
    <xacro:property name="hip_yaw_trans_iyy" value="0.00043875"/>
    <xacro:property name="hip_yaw_trans_iyz" value="0.0"/>
    <xacro:property name="hip_yaw_trans_izz" value="0.000658125"/>

    <!-- hip_roll value -->
    <!-- joint -->
    <xacro:property name="hip_roll_offset_x" value="0.0465"/> 
    <xacro:property name="hip_roll_offset_y" value="0.015"/>
    <xacro:property name="hip_roll_offset_z" value="0.0705"/>
    <xacro:property name="hip_roll_max" value="30"/>
    <xacro:property name="hip_roll_min" value="-30"/>
    <xacro:property name="hip_roll_velocity_max" value="21"/>
    <xacro:property name="hip_roll_torque_max" value="33.5"/>
    <!-- collision -->
    <xacro:property name="hip_roll_length" value="0.00001"/>
    <xacro:property name="hip_roll_width" value="0.00001"/> 
    <xacro:property name="hip_roll_height" value="0.00001"/>
    <!-- inertial -->
    <xacro:property name="hip_roll_mass" value="0.095"/>
    <xacro:property name="hip_roll_ixx" value="0.000051083"/>
    <xacro:property name="hip_roll_ixy" value="0.0"/>
    <xacro:property name="hip_roll_ixz" value="0.0"/>
    <xacro:property name="hip_roll_iyy" value="0.0000139825"/>
    <xacro:property name="hip_roll_iyz" value="0.0"/>
    <xacro:property name="hip_roll_izz" value="0.000093473"/>

    <!-- hip_roll_trans value -->
    <!-- joint -->
    <xacro:property name="hip_roll_trans_offset_x" value="-0.06"/> 
    <xacro:property name="hip_roll_trans_offset_y" value="-0.015"/>
    <xacro:property name="hip_roll_trans_offset_z" value="0.0"/>
    <!-- collision -->
    <xacro:property name="hip_roll_trans_length" value="0.04"/>
    <xacro:property name="hip_roll_trans_radius" value="0.045"/>
    <!-- inertial -->
    <xacro:property name="hip_roll_trans_mass" value="0.65"/>
    <xacro:property name="hip_roll_trans_ixx" value="0.00043875"/>
    <xacro:property name="hip_roll_trans_ixy" value="0.0"/>
    <xacro:property name="hip_roll_trans_ixz" value="0.0"/>
    <xacro:property name="hip_roll_trans_iyy" value="0.00043875"/>
    <xacro:property name="hip_roll_trans_iyz" value="0.0"/>
    <xacro:property name="hip_roll_trans_izz" value="0.000658125"/>

    <!-- hip_pitch -->
    <!-- joint -->
    <xacro:property name="hip_pitch_offset_x" value="-0.06"/> 
    <xacro:property name="hip_pitch_offset_y" value="0.018"/> 
    <xacro:property name="hip_pitch_offset_z" value="0"/>
    <xacro:property name="hip_pitch_max" value="3.14"/>
    <xacro:property name="hip_pitch_min" value="-3.14"/>
    <xacro:property name="hip_pitch_velocity_max" value="21"/>
    <xacro:property name="hip_pitch_torque_max" value="33.5"/>
    <!-- collision -->
    <xacro:property name="hip_pitch_x" value="0.0"/> 
    <xacro:property name="hip_pitch_y" value="0.0175"/> 
    <xacro:property name="hip_pitch_z" value="-0.09"/>
    <xacro:property name="hip_pitch_length" value="0.06"/>
    <xacro:property name="hip_pitch_width" value="0.035"/> 
    <xacro:property name="hip_pitch_height" value="0.18"/>
    <!-- inertial -->
    <xacro:property name="hip_pitch_mass" value="0.642"/>
    <xacro:property name="hip_pitch_com_x" value="-0.000147"/>
    <xacro:property name="hip_pitch_com_y" value="0.01991"/>
    <xacro:property name="hip_pitch_com_z" value="-0.081117"/>
    <xacro:property name="hip_pitch_ixx" value="0.004437615"/>
    <xacro:property name="hip_pitch_ixy" value="0.0"/>
    <xacro:property name="hip_pitch_ixz" value="0.0"/>
    <xacro:property name="hip_pitch_iyy" value="0.004788512"/>
    <xacro:property name="hip_pitch_iyz" value="0.0"/>
    <xacro:property name="hip_pitch_izz" value="0.000661818"/>

    <!-- hip_pitch1_trans value -->
    <!-- joint -->
    <xacro:property name="hip_pitch1_trans_offset_x" value="0.0"/> 
    <xacro:property name="hip_pitch1_trans_offset_y" value="0.0625"/>
    <xacro:property name="hip_pitch1_trans_offset_z" value="0.0"/>
    <!-- collision -->
    <xacro:property name="hip_pitch1_trans_length" value="0.04"/>
    <xacro:property name="hip_pitch1_trans_radius" value="0.045"/>
    <!-- inertial -->
    <xacro:property name="hip_pitch1_trans_mass" value="0.65"/>
    <xacro:property name="hip_pitch1_trans_ixx" value="0.00043875"/>
    <xacro:property name="hip_pitch1_trans_ixy" value="0.0"/>
    <xacro:property name="hip_pitch1_trans_ixz" value="0.0"/>
    <xacro:property name="hip_pitch1_trans_iyy" value="0.00043875"/>
    <xacro:property name="hip_pitch1_trans_iyz" value="0.0"/>
    <xacro:property name="hip_pitch1_trans_izz" value="0.000658125"/>

    <!-- hip_pitch2_trans value -->
    <!-- joint -->
    <xacro:property name="hip_pitch2_trans_offset_x" value="0.0"/> 
    <xacro:property name="hip_pitch2_trans_offset_y" value="-0.0225"/>
    <xacro:property name="hip_pitch2_trans_offset_z" value="-0.097"/>
    <!-- collision -->
    <xacro:property name="hip_pitch2_trans_length" value="0.04"/>
    <xacro:property name="hip_pitch2_trans_radius" value="0.045"/>
    <!-- inertial -->
    <xacro:property name="hip_pitch2_trans_mass" value="0.65"/>
    <xacro:property name="hip_pitch2_trans_ixx" value="0.00043875"/>
    <xacro:property name="hip_pitch2_trans_ixy" value="0.0"/>
    <xacro:property name="hip_pitch2_trans_ixz" value="0.0"/>
    <xacro:property name="hip_pitch2_trans_iyy" value="0.00043875"/>
    <xacro:property name="hip_pitch2_trans_iyz" value="0.0"/>
    <xacro:property name="hip_pitch2_trans_izz" value="0.000658125"/>
  
    <!-- knee -->
    <!-- joint -->
    <xacro:property name="knee_offset_x" value="0.0"/> 
    <xacro:property name="knee_offset_y" value="0.0"/> 
    <xacro:property name="knee_offset_z" value="0.22"/>
    <xacro:property name="knee_max" value="3.14"/>
    <xacro:property name="knee_min" value="-3.14"/>
    <xacro:property name="knee_velocity_max" value="21"/>
    <xacro:property name="knee_torque_max" value="33.5"/>
    <!-- collision -->
    <xacro:property name="knee_x" value="0.0"/> 
    <xacro:property name="knee_y" value="0.015"/> 
    <xacro:property name="knee_z" value="-0.11"/> 
    <xacro:property name="knee_length" value="0.2"/>
    <xacro:property name="knee_radius" value="0.02"/>

    <!-- inertial -->
    <xacro:property name="knee_mass" value="0.303"/>
    <xacro:property name="knee_com_x" value="0.0"/>
    <xacro:property name="knee_com_y" value="0.020417"/>
    <xacro:property name="knee_com_z" value="-0.1141"/>
    <xacro:property name="knee_ixx" value="0.001911"/>
    <xacro:property name="knee_ixy" value="0.0000"/>
    <xacro:property name="knee_ixz" value="0.0000"/>
    <xacro:property name="knee_iyy" value="0.001910380"/>
    <xacro:property name="knee_iyz" value="0.0"/>
    <xacro:property name="knee_izz" value="0.000068352"/>

    <!-- ankle -->
    <!-- joint -->
    <xacro:property name="ankle_offset_x" value="0.0"/> 
    <xacro:property name="ankle_offset_y" value="0.0"/> 
    <xacro:property name="ankle_offset_z" value="-0.22"/>
    <xacro:property name="ankle_max" value="1.4"/>
    <xacro:property name="ankle_min" value="-1.4"/>
    <xacro:property name="ankle_velocity_max" value="21"/>
    <xacro:property name="ankle_torque_max" value="33.5"/>
    <!-- collision -->
    <xacro:property name="ankle_x" value="0.01"/> 
    <xacro:property name="ankle_y" value="0.0194"/> 
    <xacro:property name="ankle_z" value="-0.02"/>
    <xacro:property name="ankle_length" value="0.15"/>
    <xacro:property name="ankle_width" value="0.02"/>
    <xacro:property name="ankle_height" value="0.04"/>
    
    <!-- inertial -->
    <xacro:property name="ankle_mass" value="0.214"/>
    <xacro:property name="ankle_com_x" value="0.010569"/>
    <xacro:property name="ankle_com_y" value="0.017949"/>
    <xacro:property name="ankle_com_z" value="-0.017118"/>
    <xacro:property name="ankle_ixx" value="0.000057298"/>
    <xacro:property name="ankle_ixy" value="0.0"/>
    <xacro:property name="ankle_ixz" value="0.0"/>
    <xacro:property name="ankle_iyy" value="0.000290752"/>
    <xacro:property name="ankle_iyz" value="0.0"/>
    <xacro:property name="ankle_izz" value="0.000249491"/>

    <!-- shoulder_yaw -->
    <!-- joint -->
    <xacro:property name="shoulder_yaw_offset_x" value="0.0"/> 
    <xacro:property name="shoulder_yaw_offset_y" value="0.0"/> 
    <!--xacro:property name="shoulder_yaw_offset_z" value="-0.22"/-->
    <xacro:property name="shoulder_yaw_offset_z" value="-0.062"/>
    <xacro:property name="shoulder_yaw_offset" value="0.019"/>    
    <xacro:property name="shoulder_yaw_max" value="1.5708"/>
    <xacro:property name="shoulder_yaw_min" value="-1.4"/>
    <xacro:property name="shoulder_yaw_velocity_max" value="33"/>
    <xacro:property name="shoulder_yaw_torque_max" value="17"/>
    <!-- collision -->
    <xacro:property name="shoulder_yaw_x" value="0.01"/> 
    <xacro:property name="shoulder_yaw_y" value="0.0194"/> 
    <xacro:property name="shoulder_yaw_z" value="-0.02"/>
    <xacro:property name="shoulder_yaw_length" value="0.25"/>
    <xacro:property name="shoulder_yaw_width" value="0.034"/>
    <xacro:property name="shoulder_yaw_height" value="0.043"/>
    <xacro:property name="shoulder_yaw_radius" value="0.041"/>
    <xacro:property name="shoulder_yaw_length" value="0.08"/>    
    
    <!-- inertial -->
    <xacro:property name="shoulder_yaw_mass" value="0.4356"/>

    <xacro:property name="shoulder_yaw_com_x" value="0.00071"/>
    <xacro:property name="shoulder_yaw_com_y" value="0.02838"/>
    <xacro:property name="shoulder_yaw_com_z" value="0.04835"/>

    <xacro:property name="shoulder_yaw_rpy_r" value="0.0"/>
    <xacro:property name="shoulder_yaw_rpy_p" value="0.0"/>
    <xacro:property name="shoulder_yaw_rpy_y" value="1.570796"/>
    <xacro:property name="shoulder_yaw_ixx" value="0.00043"/>
    <xacro:property name="shoulder_yaw_iyy" value="0.00035"/>
    <xacro:property name="shoulder_yaw_izz" value="0.00027"/>






    <!-- shoulder_pitch -->
    <!-- joint -->
    <xacro:property name="shoulder_pitch_offset_x" value="0.0"/> 
    <xacro:property name="shoulder_pitch_offset_y" value="0.0"/> 
    <xacro:property name="shoulder_pitch_offset_z" value="-0.22"/>
    <xacro:property name="shoulder_pitch_max" value="1.5708"/>
    <xacro:property name="shoulder_pitch_min" value="-3.14"/>
    <xacro:property name="shoulder_pitch_velocity_max" value="33"/>
    <xacro:property name="shoulder_pitch_torque_max" value="17"/>
    <!-- collision -->
    <xacro:property name="shoulder_pitch_x" value="0.01"/> 
    <xacro:property name="shoulder_pitch_y" value="0.0194"/> 
    <xacro:property name="shoulder_pitch_z" value="-0.02"/>
    <xacro:property name="shoulder_pitch_length" value="0.25"/>
    <xacro:property name="shoulder_pitch_width" value="0.034"/>
    <xacro:property name="shoulder_pitch_height" value="0.043"/>
    
    <!-- inertial -->
    <!-- <xacro:property name="shoulder_pitch_mass" value="1.528"/> -->
    <xacro:property name="shoulder_pitch_mass" value="0.432"/>
    <xacro:property name="shoulder_pitch_com_x" value="-0.0294"/>
    <xacro:property name="shoulder_pitch_com_y" value="0.04541"/>
    <xacro:property name="shoulder_pitch_com_z" value="0.00089"/>
    <xacro:property name="shoulder_pitch_ixx" value="0.00042"/>
    <xacro:property name="shoulder_pitch_ixy" value="-0.00002"/>
    <xacro:property name="shoulder_pitch_ixz" value="0.0"/>
    <xacro:property name="shoulder_pitch_iyy" value="0.00027"/>
    <xacro:property name="shoulder_pitch_iyz" value="0.0"/>
    <xacro:property name="shoulder_pitch_izz" value="0.00033"/>    


    <!-- shoulder_roll -->
    <!-- joint -->
    <xacro:property name="shoulder_roll_offset_x" value="0.04"/> 
    <xacro:property name="shoulder_roll_offset_y" value="0.0"/> 
    <xacro:property name="shoulder_roll_offset_z" value="-0.22"/>
    <xacro:property name="shoulder_roll_max" value="1.4"/>
    <xacro:property name="shoulder_roll_min" value="-1.4"/>
    <xacro:property name="shoulder_roll_velocity_max" value="33"/>
    <xacro:property name="shoulder_roll_torque_max" value="17"/>
    <!-- collision -->
    <xacro:property name="shoulder_roll_x" value="0.01"/> 
    <xacro:property name="shoulder_roll_y" value="0.0194"/> 
    <xacro:property name="shoulder_roll_z" value="-0.02"/>
    <xacro:property name="shoulder_roll_length" value="0.25"/>
    <xacro:property name="shoulder_roll_width" value="0.034"/>
    <xacro:property name="shoulder_roll_height" value="0.043"/>
    
    <!-- inertial -->
    <!-- <xacro:property name="shoulder_roll_mass" value="1.528"/> -->
    <xacro:property name="shoulder_roll_mass" value="0.66484"/>
    <xacro:property name="shoulder_roll_com_x" value="0.04492"/>
    <xacro:property name="shoulder_roll_com_y" value="0.01006"/>
    <xacro:property name="shoulder_roll_com_z" value="-0.03218"/>
    <xacro:property name="shoulder_roll_ixx" value="0.00318"/>
    <xacro:property name="shoulder_roll_ixy" value="0.00001"/>
    <xacro:property name="shoulder_roll_ixz" value="0.0"/>
    <xacro:property name="shoulder_roll_iyy" value="0.00325"/>
    <xacro:property name="shoulder_roll_iyz" value="0.00037"/>
    <xacro:property name="shoulder_roll_izz" value="0.00049"/>  
    
    
    <!-- elbow -->
    <!-- joint -->
    <xacro:property name="elbow_offset_x" value="0.04"/> 
    <xacro:property name="elbow_offset_y" value="0.01"/> 
    <xacro:property name="elbow_offset_z" value="-0.22"/>
    <xacro:property name="elbow_max" value="2.63"/>
    <xacro:property name="elbow_min" value="-2.78"/>
    <xacro:property name="elbow_velocity_max" value="23.29"/>
    <xacro:property name="elbow_torque_max" value="24.09"/>
    <!-- collision -->
    <xacro:property name="elbow_x" value="0.01"/> 
    <xacro:property name="elbow_y" value="0.0194"/> 
    <xacro:property name="elbow_z" value="-0.02"/>
    <xacro:property name="elbow_length" value="0.25"/>
    <xacro:property name="elbow_width" value="0.016"/>
    <xacro:property name="elbow_height" value="0.016"/>
    
    <!-- inertial -->
    <!-- <xacro:property name="elbow_mass" value="0.241"/> -->
    <xacro:property name="elbow_mass" value="0.1578"/>
    <xacro:property name="elbow_com_x" value="0.0"/>
    <xacro:property name="elbow_com_y" value="0.00008"/>
    <xacro:property name="elbow_com_z" value="-0.11722"/>
    <xacro:property name="elbow_ixx" value="0.00129"/>
    <xacro:property name="elbow_ixy" value="0.0"/>
    <xacro:property name="elbow_ixz" value="0.0"/>
    <xacro:property name="elbow_iyy" value="0.0013"/>
    <xacro:property name="elbow_iyz" value="0.0"/>
    <xacro:property name="elbow_izz" value="0.00002"/>    

</robot>
