<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="base_link">
        <plugin
                filename="libhector_gazebo_fortress_plugin.so"
                name="hector_gazebo_plugins::HectorGazeboFortressPlugin">

            <joint_name>L_hip_yaw_joint</joint_name>
            <joint_name>L_hip_roll_joint</joint_name>
            <joint_name>L_hip_pitch_joint</joint_name>
            <joint_name>L_knee_joint</joint_name>
            <joint_name>L_ankle_joint</joint_name>
            <joint_name>R_hip_yaw_joint</joint_name>
            <joint_name>R_hip_roll_joint</joint_name>
            <joint_name>R_hip_pitch_joint</joint_name>
            <joint_name>R_knee_joint</joint_name>
            <joint_name>R_ankle_joint</joint_name>
            <joint_name>L_shoulder_yaw_joint</joint_name>
            <joint_name>L_shoulder_pitch_joint</joint_name>
            <joint_name>L_shoulder_roll_joint</joint_name>
            <joint_name>L_elbow_joint</joint_name>
            <joint_name>R_shoulder_yaw_joint</joint_name>
            <joint_name>R_shoulder_pitch_joint</joint_name>
            <joint_name>R_shoulder_roll_joint</joint_name>
            <joint_name>R_elbow_joint</joint_name>

            <base_link_name>base_link</base_link_name>

            <ign_imu_topic>/imu</ign_imu_topic>
            <ign_left_contact_topic>/l_contact</ign_left_contact_topic>
            <ign_right_contact_topic>/r_contact</ign_right_contact_topic>

        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>/imu</topic>
            <imu>
                <angular_velocity>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.0002</stddev> <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.0002</stddev> <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.0002</stddev> <bias_mean>0.0000075</bias_mean>
                            <bias_stddev>0.0000008</bias_stddev>
                        </noise>
                    </z>
                </angular_velocity>
                <linear_acceleration>
                    <x>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.017</stddev> <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </noise>
                    </x>
                    <y>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.017</stddev> <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </noise>
                    </y>
                    <z>
                        <noise type="gaussian">
                            <mean>0.0</mean>
                            <stddev>0.017</stddev> <bias_mean>0.1</bias_mean>
                            <bias_stddev>0.001</bias_stddev>
                        </noise>
                    </z>
                </linear_acceleration>
            </imu>
            <plugin filename="libignition-gazebo-imu-system.so"
                    name="ignition::gazebo::systems::Imu">
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="L_ankle_link">
        <sensor name="left_foot_contact" type="contact">
            <always_on>true</always_on>
            <update_rate>50</update_rate>
            <contact>
                <collision>L_foot_collision</collision>
            </contact>
            <topic>/l_contact</topic>
            <plugin filename="libignition-gazebo-contact-system.so" name="ignition::gazebo::systems::Contact">
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="R_ankle_link">
        <sensor name="right_foot_contact" type="contact">
            <always_on>true</always_on>
            <update_rate>50</update_rate>
            <contact>
                <collision>R_foot_collision</collision>
            </contact>
            <topic>/r_contact</topic>
            <plugin filename="libignition-gazebo-contact-system.so" name="ignition::gazebo::systems::Contact">
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="base">
    </gazebo>

    <gazebo reference="trunk">
    </gazebo>

    <gazebo reference="trunkcol">
    </gazebo>

    <gazebo reference="stick_link">
    </gazebo>

    <gazebo reference="imu_link">
    </gazebo>

    <gazebo reference="L_hip_yaw_link">
    </gazebo>
    <gazebo reference="L_hip_roll_link">
    </gazebo>
    <gazebo reference="L_hip_pitch_link">
    </gazebo>
    <gazebo reference="L_knee_link">
    </gazebo>
    <gazebo reference="L_ankle_link">
    </gazebo>

    <gazebo reference="R_hip_yaw_link">
    </gazebo>
    <gazebo reference="R_hip_roll_link">
    </gazebo>
    <gazebo reference="R_hip_pitch_link">
    </gazebo>
    <gazebo reference="R_knee_link">
    </gazebo>
    <gazebo reference="R_ankle_link">
    </gazebo>

    <gazebo reference="L_shoulder_yaw_link">
    </gazebo>
    <gazebo reference="L_shoulder_pitch_link">
    </gazebo>
    <gazebo reference="L_shoulder_roll_link">
    </gazebo>
    <gazebo reference="L_elbow_link">
    </gazebo>

    <gazebo reference="R_shoulder_yaw_link">
    </gazebo>
    <gazebo reference="R_shoulder_pitch_link">
    </gazebo>
    <gazebo reference="R_shoulder_roll_link">
    </gazebo>
    <gazebo reference="R_elbow_link">
    </gazebo>

    <gazebo reference="head_link">
    </gazebo>

    <gazebo reference="nuc_link">
    </gazebo>

    <gazebo reference="L_arm_EE_link">
    </gazebo>

    <gazebo reference="R_arm_EE_link">
    </gazebo>

    <gazebo reference="L_leg_EE_link">
    </gazebo>

    <gazebo reference="R_leg_EE_link">
    </gazebo>

</robot>